<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>How to justify owning a 3D printer</title>
    <link rel="stylesheet" href="../node_modules/reveal.js/dist/reveal.css">
    <link rel="stylesheet" href="../node_modules/reveal.js/dist/theme/black.css">
  </head>
  <body>
  		<div class="reveal">
  			<div class="slides">

  				<section>
            <img data-src="headshot.jpeg">
  					<h2>An awesome presentation</h2>
  					<p>by Doug</p>
  				</section>

  				<section>
  					<h2>Who am I?</h2>
  					<p>A person who likes to hack.</p>
  				</section>

          <section>
  					<h2>What is the point?</h2>
  					<p>I made it possible to talk about hacking, in person.</p>
  				</section>

          <section>
            <section data-background-color="aquamarine">
            <h2>The End</h2>
          </section>

  			</div>
  		</div>

  		<script src="../node_modules/reveal.js/dist/reveal.js"></script>
  		<script>
  			Reveal.initialize();
  		</script>
  	</body>
</html>
